<table class="table-login">
	<tr>
		<td>
			<form>
				<b>Inscription : </b>
				<table class="table">
					<tr><td><label>Pseudo: </label></td><td><input type="text" ng-model="suUsername"/></td></tr>
					<tr><td><label>Mot de passe: </label></td><td><input type="password" ng-model="suPassword"/></td></tr>
					<tr><td><label>Confirmation du mot de passe: </label></td><td><input type="password" ng-model="suConfirmPassword"/></td></tr>
					<tr><td><label>Adresse e-mail: </label></td><td><input type="text" ng-model="suMail"/></td></tr>
					<tr><td>
						<input class="btn-success" type="button" value="S'inscrire" ng-click="inscription(suUsername, suPassword, suMail)"/>	
						</td><td></td></tr>
				</table>
			</form>
		</td>
		<td>
			<form>
				<b>Connexion : </b>
				<table class="table">
					<tr><td><label>Adresse e-mail: </label></td><td><input type="text" ng-model="liMail"/></td></tr>
					<tr><td><label>Mot de passe: </label></td><td><input type="password" ng-model="liPassword"/></td></tr>
					<tr><td><input class="btn-success" type="button" value="S'authentifier" ng-click="login(liMail, liPassword)"/></td><td></td></tr>
				</table>
			</form>
		</td>
	</tr>
</table>