<table class="table-login">
	<tr>
		<td>
			<form>
				<b>Inscription : </b>
				<table class="table">
					<tr><td><label>Pseudo: </label></td><td><input type="text" ng-model="inputs.suUsername"/></td></tr>
					<tr><td><label>Mot de passe: </label></td><td><input type="password" ng-model="inputs.suPassword"/></td></tr>
					<tr><td><label>Confirmation du mot de passe: </label></td><td><input type="password" ng-model="inputs.suConfirmPassword"/></td></tr>
					<tr><td><label>Adresse e-mail: </label></td><td><input type="text" ng-model="inputs.suMail"/></td></tr>
					<tr><td>
						<input class="btn-success" type="button" value="S'inscrire"
							ng-click="inscription(inputs.suUsername, inputs.suPassword, inputs.suMail)"/>	
						</td><td></td></tr>
				</table>
				<div class="errors" >{{outputs.errors}}</div>
				<div class="messages" >{{outputs.messages}}</div>
			</form>
		</td>
		<td>
			<form>
				<b>Connexion : </b>
				<table class="table">
					<tr><td><label>Adresse e-mail: </label></td><td><input type="text" ng-model="inputs.liMail"/></td></tr>
					<tr><td><label>Mot de passe: </label></td><td><input type="password" ng-model="inputs.liPassword"/></td></tr>
					<tr><td><input class="btn-success" type="button" value="S'authentifier" 
						ng-click="login(inputs.liMail, inputs.liPassword)"/></td><td></td></tr>
				</table>
				<div class="errors" >{{outputs.liErrors}}</div>
			</form>
		</td>
	</tr>
</table>