<div>
	<label>Pseudo: <input type="text" name="pseudo" ng-model="user.pseudo"/></label><br/>
	<label>Mot de passe: <input type="password" name="passe" ng-model="user.password"/></label><br/>
	<label>Confirmation du mot de passe: <input type="password" name="passe2"/></label><br/>
	<label>Adresse e-mail: <input type="text" name="email" ng-model="user.email"/></label><br/>
	<input type="button" value="M'inscrire" ng-click="inscription()"/>
</div>

<div>
	<input type="button" value="Déconnection" ng-click="logout()"/>
</div>

<div>
	<label>Ajouter amis <input type="text" name="addfriend" ng-model="user.grp"/></label><br/>
	<input type="button" value="Ajouter amis" ng-click="logout()"/>
</div>