.table-home{
	width: 100%;
}

.table-home td{
	vertical-align: top;
}

.table-home .left-panel {
	width: 15%;
}

.table-home .left-panel input{
	width: 100%;
}

.table-home .main-board{
	width: 85%;
}

.table-add-transaction{
}

.table-add-transaction textArea{
	width: 100%;
	resize: none;
}

.errors {
	color: red;
}

.messages {
	color: green;
}

.table-login {
	border: none;
	vertical-align: top;
	margin: auto;
}